*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    font-family: sans-serif;
}
nav ul{
    list-style-type: none;
    border-top: 5px solid #e6af2e;
    background-color: #191716
}
nav ul a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 15px 25px;
    color: #e6af2e
}
nav ul a:hover{
    color: #e0e2db
}
.logo{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 40px;
    background-color:#e6af2e;
    color: #191716;
    font-style: italic;
}
.logo:hover{
    background-color: #e0e2db;
    color: #e6af2e
}
@media screen and (min-width:576px){
    nav ul{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }
    nav ul li{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        /* flex: 1 0 auto; */
    }
    .logo{
        display: block;
        text-align: center;
    }
    .logo .fa-arrow-down{
        display: none;
    }
}
/* banner section */
#banner{
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
         url(images/background-banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text{
    font-size: 50px;
    text-transform: uppercase;
    color: #e0e2db;
    font-style: italic;
    text-align: center;
}
.banner-underline{
    width: 200px;
    border: 3px solid #a2a3a0;
    margin: 10px auto 20px auto
}
.banner-btn{
    display: flex;
    justify-content: space-between;
}
.banner-btn button{
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    margin: 0 10px;
    background: transparent;
    color: #e6af2e;
    border: 2px solid #e6af2e
}
.banner-btn button:hover{
    color: #e0e2db;
    background-color: #e6af2e
}

/* skills section */
#skills{
    padding: 60px 0;
    background-color: #beb7a4;
}
.skills-container{
    max-width: 90vw;
    margin: 0 auto;
}
.skill-item{
    text-align: center;
    margin: 20px 0;
}
.skill-icon{ 
    font-size: 60px;
    color: #191716
}
.skill-item h1{
    font-size: 30px;
    letter-spacing: 2px;
    margin: 30px 0;
    color: #5f470e;
    text-transform: uppercase;
}
.skill-item p{
    width: 75%;
    margin: 0 auto;
    color: #353535
}

/* responsive for the skills section */
@media screen and (min-width:576px){
    .skills-container{
        display: flex;
        flex-wrap: wrap;
    }
    .skill-item{
        flex: 0 0 calc(50% - 15px)
    }
}
@media screen and (min-width:992px){
    .skill-item{
        flex: 0 0 calc(25% - 12px)
    }
}

/* services section */
#services{
    width: 100%;
    background: url(images/services.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 80px 0;
}
.services-title h1{
    text-align: center;
    font-size: 40px;
    color: #e0e2db;
    font-style: initial;
    text-transform: uppercase;
}
.services-title .title-underline{
    width: 200px;
    border: 3px solid #e6af2e;
    margin: 5px auto;
}
.services-container{
    max-width: 90%;
    margin: 0 auto;
    color: #e0e2db
}
.service-item{
    overflow: hidden;
    position: relative;
    padding: 60px;
}
.service-item-black{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    

}
.service-item-white{
    background: linear-gradient(rgba(206,208,206,0.6),rgba(206,208,206,0.6));
    color: #191716
}

.front-text{
    text-align: center;
    transition: transform 2s ease;
}

.front-text .service-icon{
    font-size: 60px;
    margin-bottom: 30px;
    color: #e6af2e;
}
.front-text h1{
    text-transform: capitalize;
}
.back-text{
    position: absolute;
    bottom: -260px;
    width: 75%;
    margin: 0 auto;
    height: 100%;
    transition: transform 2s;
    padding: 30px 0;
}
.back-text h1{
    margin-bottom: 20px;
    text-transform: capitalize;
}

.back-text button{
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #e6af2e;
    font-size: 20px;
    color: #e6af2e
}
.back-text button:hover{
    background-color: #e6af2e;
    color: #191716;
}
.service-item-white button{
    background-color: #e6af2e;
    color: #191716;
}
.service-item-white button:hover{
    background-color: #191716;
    border-color: #191716;
    color: #e6af2e
}
.service-item:hover .front-text{
    transform: translateY(-260px)
}
.service-item:hover .back-text{
    transform: translateY(-220px);
}
@media screen and (min-width:776px){
    .services-container{
        display: flex;
        flex-wrap: wrap;
    }
    .service-item{
        flex:1 0 calc(50% - 12px);
    }

    .services-container .service-item:nth-of-type(1){
        order: 1
    }
    .services-container .service-item:nth-of-type(2){
        order: 2
    }
    .services-container .service-item:nth-of-type(3){
        order: 4
    }
    .services-container .service-item:nth-of-type(4){
        order: 3
    }
}

/* projects section */
#projects{
    padding: 20px 0 50px 0;
    background-color: #e0e2db;
    margin: 0 auto;
}
#projects .services-title h1{
    color: #191716
}
.projects-container{
    max-width: 90vw;
    margin: 0 auto;
}
.project-item{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    color: #e0e2db;
    overflow: hidden;
    margin: 20px 0;
}
.project-item img{
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 3s;
}
.project-img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 3s;
}
.project-img-text h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.project-img-text h5{
    font-size: 15px;
}
.project-img-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: #e6af2e;
    transition: opacity 3s;
}
.project-item:hover img{
    opacity: 0.4;
    transform: scale(1.3)
}
.project-item:hover .project-img-text,
.project-item:hover .project-img-footer{
    opacity: 1
}
/* resposive for the projects section */
@media screen and (min-width:570px){
    .projects-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .project-item{
        flex: 0 0 calc(50% - 19px)
    }
}
@media screen and (min-width:992px){
    .project-item{
        flex: 0 0 calc(33.333% - 19px)
    }
}

/* filler-section */
#filler-section{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(images/filler.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px;
}
#filler-section h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #e0e2db;
    margin-bottom: 10px;
}
#filler-section button{
    font-size: 30px;
    text-transform: uppercase;
    color: #e6af2e;
    border: 2px solid #e6af2e;
    padding: 10px 15px;
    background: transparent;
}
#filler-section button:hover{
    background-color: #e6af2e;
    color: #191716;
    cursor: pointer;
}

/* posts section */
#posts{
    background: #beb7a4;
    padding: 20px 0 80px;
}
.post-container{
    max-width: 90vw;
    margin: 0 auto;
}
.post-item{
    background-color: #e0e2db;
    color: #191716;
    margin: 20px 0
}
.img-container img{
    width: 100%;
    display: block;
}
.img-container {
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}
.img-container .fa-search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #e6af2e;
    opacity: 0;
    transition: opacity 3s;
}
.img-container:hover img{
    opacity: 0.3;
}
.img-container:hover .fa-search{
    opacity: 1;
}
.post-item .txt-container{
    padding: 10px 5px 30px 5px
}
.post-item .txt-container p{
    margin: 15px 0 25px 0;
    line-height: 1.5
}
.post-item .txt-container a{
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #e6af2e;
    color: #e6af2e;
    margin-bottom: 20px;
}
.txt-container a:hover{
    background-color: #191716;
    border-color: #191716
}
@media screen and (min-width:576px){
    .post-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }
    .post-item{
        flex: 0 0 calc(50% - 12px)
    }
}
@media screen and (min-width:992px){
    .post-item{
        flex: 0 0 calc(33.33% - 12px)
    }
}

/* footer section */
footer{
    background-color: #272524;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}
.footer-text{
    text-transform: uppercase;
    font-size: 15px;
    color: #e0e2db;
    margin-bottom: 10px;
}
.footer-icons {
    font-size: 30px;
}
.footer-icons .icon-footer {
    margin-right: 10px;
    color: #e0e2db;
    transition: transform 2s
}
.footer-icons .icon-footer:hover{
    transform: translateY(-15px);
    caption-side: #e6af2e
}





